services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: devops
      POSTGRES_PASSWORD: devops
      POSTGRES_DB: devops_shop
    volumes:
    - postgres_data:/var/lib/postgresql
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U devops -d devops_shop"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    image: 192.168.64.14:5050/root/devops-shop:{{ image_tag }}
    ports:
      - "8088:8080"
    environment:
      DATABASE_URL: postgres://devops:devops@postgres:5432/devops_shop
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: